/* ===========================
   BENDRI STILIAI
   =========================== */

body {
    font-family: var(--font-family);
    background-color: var(--main-bg);
    color: var(--main-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    margin: 0;
}

body.with-transition {
    transition: background-color var(--transition), color var(--transition);
}

.site-header {
    background-color: var(--header-bg);
    color: var(--main-color);
    padding: 20px 0;
    text-align: center;
    position: relative;
    transition: background-color var(--transition), color var(--transition);
}

.site-header h1 {
    margin: 0;
    font-size: 26px;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 10px 0 0 0;
    margin: 0;
}

.navbar a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    margin: 20px;
    max-width: 900px;
    margin: 20px auto;
    padding: 0 15px;
    line-height: 1.7;
}

footer {
    padding: 10px;
    background-color: var(--footer-bg);
    color: var(--main-color);
    transition: background-color var(--transition), color var(--transition);
}

footer p{
    text-align: center;
}